.auth-title {
  margin-top: 6vh;
  width: 530px;
  padding: 15px;
}

.auth-tab {
  width: 530px;
}

.active-tab {
  background-color: #0d6efd;
  color: #fff !important;
  font-weight: 600;
}

.nav-link:hover {
  background-color: rgba(13, 110, 253, 0.1);
  transition: background 0.3s ease;
}

.active-tab:hover {
  background-color: #0d6efd;
}

.auth-btn-padding {
  padding: 7px 97.1px !important;
}

.button-tab:hover {
  background-color: #58a5f1;
  color: white !important;
}


/* signup */
.signup-account {
  width: 29rem !important;
  height: 45px !important;
}

.signup-account:hover {
  color: rgb(12, 10, 10) !important;
}

.password:hover {
  background-color: #5a5656 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fdfbfb inset !important;
  -webkit-text-fill-color: rgb(7, 7, 7) !important;
  caret-color: white !important;
  border: 1px solid #333 !important;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #0b0a0a !important;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}