* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.appContainer {
  background: linear-gradient(135deg, #4fa8ff 0%, #b0dfff 100%);
  min-height: 100vh;
}