* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.appContainer {
  background: linear-gradient(135deg, #4fa8ff 0%, #b0dfff 100%);
  min-height: 100vh;
}

/* navbar */
.search-list:hover {
  cursor: pointer;
  background-color: #d4ebea;
}

.hover-colour:hover {
  background-color: rgb(160, 209, 217) !important;
}

.btn-hover-colour:hover {
  color: black !important;
}
.search-hover-colour:hover {
  background-color: rgb(215, 234, 237) !important;
}

/* mychats */
::-webkit-scrollbar {
  display: none;
}

/* GroupChatSettingsModal */
.btn-close:focus,
.btn-close:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* UserSearchDrawer */
.search-panel {
  position: fixed;
  top: 0;
  left: -474px; /* hide offscreen initially */
  width: 474px;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  overflow-y: auto;
}

.search-panel.open {
  left: 0; /* slide in */
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1040;
}

.spinner-overlay {
  z-index: 1060 !important;
}